[*.cs]

# RCS1001: Add braces (when expression spans over multiple lines).
dotnet_diagnostic.RCS1001.severity = none

# RCS1155: Use StringComparison when comparing strings.
dotnet_diagnostic.RCS1155.severity = none

# S1066: Collapsible "if" statements should be merged
dotnet_diagnostic.S1066.severity = none

# S1905: Redundant casts should not be used
dotnet_diagnostic.S1905.severity = none

# S2583: Conditionally executed code should be reachable
dotnet_diagnostic.S2583.severity = none

# CA1063: Implement IDisposable Correctly
dotnet_diagnostic.CA1063.severity = none

# S1854: Unused assignments should be removed
dotnet_diagnostic.S1854.severity = none

# S3881: "IDisposable" should be implemented correctly
dotnet_diagnostic.S3881.severity = none

# S1751: Loops with at most one iteration should be refactored
dotnet_diagnostic.S1751.severity = none

# S3626: Jump statements should not be redundant
dotnet_diagnostic.S3626.severity = none

# RCS1143: Simplify coalesce expression.
dotnet_diagnostic.RCS1143.severity = none

# RCS1146: Use conditional access.
dotnet_diagnostic.RCS1146.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# RCS1073: Convert 'if' to 'return' statement.
dotnet_diagnostic.RCS1073.severity = none

# RCS1127: Merge local declaration with assignment.
dotnet_diagnostic.RCS1127.severity = none

# RCS1171: Simplify lazy initialization.
dotnet_diagnostic.RCS1171.severity = none

# RCS1190: Join string expressions.
dotnet_diagnostic.RCS1190.severity = none

# S2486: Generic exceptions should not be ignored
dotnet_diagnostic.S2486.severity = none

# RCS1075: Avoid empty catch clause that catches System.Exception.
dotnet_diagnostic.RCS1075.severity = none

# CA1712: Do not prefix enum values with type name
dotnet_diagnostic.CA1712.severity = none
